<!-- Container for custom terminal controls -->
<div id="control-terminal-custom" style="clear: both; display: none; padding-top: 10px; padding-bottom: 10px;" data-bind="visible: loginStateViewModel.isUser && settingsViewModel.settings.plugins.terminalcommandsextended.commands().length > 0, template: { name: 'customTerminalControls_controlTemplate', foreach: multidimensional_array }"></div>

<!-- Template for custom terminal controls -->
<script type="text/html" id="customTerminalControls_controlTemplate">
    <div class="row-fluid" data-bind="foreach: $data">
	<!-- ko template: { name: 'customTerminalControls_controlTemplate_divider', data: $data, if: $data.label() === "<BR>" } --><!-- /ko -->
	<!-- ko template: { name: 'customTerminalControls_controlTemplate_input', data: $data, ifnot: $data.label() === "<BR>" } --><!-- /ko -->
    </div>
</script>

<!-- Template for inputs -->
<script type="text/html" id="customTerminalControls_controlTemplate_input">
    <div data-bind="css: [((offset() > 0) ? 'offset'+offset() : ''), ((label() === '<BR>') ? 'row-fluid': 'span'+width())].join(' ')">
        <!-- ko foreach: input -->
            <button style="cursor: default" data-bind="text: label, enable: $root.controlViewModel.isOperational() && (!$root.controlViewModel.isPrinting() || enabled_while_printing())" class="btn"></button>
            <input type="text" class="input-mini btn active" style="cursor: text;margin-bottom: 0px;" data-bind="attr: {placeholder: label, title: value, type: (isNaN(value()) || value() == '') ? 'text' : 'number'}, value: value, enable: $root.controlViewModel.isOperational() && !$root.controlViewModel.isPrinting()">
        <!-- /ko -->
        <!-- ko template: { name: 'customTerminalControls_controlTemplate_command', data: $data} --><!-- /ko -->
    </div>
</script>

<!-- Template for button -->
<script type="text/html" id="customTerminalControls_controlTemplate_command">
	<button class="btn" data-bind="click: $root.runCustomCommand, attr: {title: (tooltip() ? tooltip : command)}, enable: $root.controlViewModel.isOperational() && (!$root.controlViewModel.isPrinting() || enabled_while_printing())"><i data-bind="css: icon"></i> <span data-bind="text: label"/></button>
</script>

<!-- Template for button -->
<script type="text/html" id="customTerminalControls_controlTemplate_divider">
	<div class="row-fluid" style="height: 20px;"> </div>
</script>